.headerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 153px;
  background: #000000;
  border: 1px solid #000000;
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
}

.headerLogo {
  background-color: #000000;
}

