.tableContainer {
  display: flex;
  flex-direction: column; 
  padding: 25px;
  gap: 15px;
}

.table {
  background-color: black;
  width: 50%;
  border-radius: 10px;
  border: 1px solid black;
}

.trTitle {
  height: 40px;
  font-weight: bold;
}

.trBody {
  height: 40px;
}

.background {
  background-color: white;
  padding-inline-start: 10px;

}

