.dataContainer{
  display: flex;
  width: 100vw;
  margin-top: 30px;
  align-items: flex-start;
  justify-content: space-around;
  margin-bottom: 30px;
}

.loader{
  position:relative;
		left:50%;
		top: 60%;
		margin-left:-110px;
}

@media (max-width: 1000px) {
  .dataContainer{
    flex-direction: column;
    align-items: center;
  }
}